body{
    color: #f8f8f8;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;}
.container{
    display:grid;
    grid-template-columns: 200px auto;
    gap: 30px;
}
.main_header{
    display:grid;
    grid-template-rows: 60px 50px 20px;
}
#header_1{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #003f61;
}
#header_2{
    grid-row-start: 3;
    grid-row-end: 4;
    background-color:#005a8b ;
}
#header_main{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #00517d;
    display:grid;
    grid-template-columns: 8fr 1fr 1fr;
}
#header_main h1{
    margin-left: 20px;
    margin-top: 5px;
}
#button_1{
    grid-column-start: 2;
    grid-column-end: 3;
}
#button_2{
    grid-column-start: 3;
    grid-column-end: 4;
}
button{
    border-radius: 50px;
    border-style: none;
    height: 30px;
    width: 100px;
    background-color:white;
    transition: translate 0.5s;
    font:inherit;
    font:bold;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;

}
button:hover{
    background-color:#003f61;
    color:#f8f8f8
}
.checklist{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:3;
    font:inherit;
    color:#003f61;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.email_display{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
    font:400;
    color:black;
}
.input{
    width: 200px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color:#003f61;
    border-radius: 50px;
    border-color:#003f61 ;
    font: inherit;
    text-align: center;
}
.submit_button{
    border-radius: 50px;
    border-style: none;
    height: 30px;
    width: 200px;
    color:#f8f8f8;
    background-color:#003f61;
    transition: translate 0.5s;
    font:inherit;
    font:bold;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
.submit_button:hover{
    background-color:#0174b2;
    color:#f8f8f8;
}
